modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "noto-fonts-cjk-sans", "openjpeg", "swig", "tcl", "tk", "xcbuild", "zlib", "mesa", "xorg.libX11", "gemini-cli"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80
